a {
  color: #337ab7;
}
p {
  margin-top: 1rem;
}


body {
  box-sizing: border-box;
}

.main-screen
{
  text-align: center;
  max-width: 40%;
  border: 0px solid #aaa;
  border-radius: 10px;
  box-shadow: 0px 0px 30px #aaa;
  padding: 1% 1% 1% 1%;
}

h1 {
    text-decoration: underline darkslategray;
    text-decoration-thickness: 3px;
    text-underline-offset: 6px;
    font-size: 220%;
    font-weight: bold;
    margin-bottom: 1rem;
}

h2 {
    font-weight: bold;
    color: #005A9C;
    font-size: 140%;
    text-transform: uppercase;
}

red {
    color: red;
}

#controls {
  display: flex;
  margin: 0.2rem 20% 0.2rem 20%;
}   

button {
  flex-grow: 1;
  height: 3.5rem;
  min-width: 2rem;
  border: none;
  border-radius: 0.95rem;
  background: #ed341d;
  margin-left: 2px;
  box-shadow: inset 0 -0.15rem 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color:#ffffff;
  font-weight: bold;
  font-size: 1.5rem;
}

button:hover, button:focus {
  outline: none;
  background: #c72d1c;
}

button::-moz-focus-inner {
  border: 0;
}

button:active {
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.2);
  line-height: 3rem;
}

button:disabled {
  pointer-events: none;
  background: lightgray;
}
button:first-child {
  margin-left: 0;
}

audio {
  margin-left: 25%;
  width: 60%;
  margin-top: 0.2rem;
}

li {
  list-style: none;
  margin-bottom: 1rem;
}

#formats {
  margin-top: 0.5rem;
  font-size: 80%;
}

.response
{
  padding: 2% 5% 2% 5%;
  background-color:darkslategray;
  color: white;
  border-radius: 20px;
  width: 60%;
}

.message
{
  padding: 2% 5% 2% 5%;
  background-color:#ccc;
  color: black;
  border-radius: 20px;
  margin-left: 33%;
  width: 60%;
}

.chat
{
  height: 360px;
  overflow-y: auto;
  display: flex;
  flex-direction: column-reverse;
}

.chat::-webkit-scrollbar
{
  display: none;
}

#chip-options
{
  text-align: center;
  margin-top: 0rem;
}

.chip
{
  display: inline-block;
  padding: 0.2rem 1rem 0.2rem 1rem;
  margin-left: 0.1rem;
  margin-right: 0.1rem;
  background-color:transparent;
  color: black;
  border: 1px solid darkslategray;
  border-radius: 20px;
}

.chip:hover{
  cursor: pointer;
}

ul{
  padding: 0 !important;
  width: 100%;
}

ul li
{
  display: inline;
}


a {
  color: coral !important;
  text-decoration: none;
}